<div class="text-center mt-5">
<h1>What'chu want?</h1>
<form
action="/answer"
data-turbo = "true"
class="mt-6">
<input
type="text"
name="question"
placeholder="Ask your dumb question here"
class="form-control">
<input
type="submit"
name="Ask"
class="btn btn-success mt-3">
</form>

</div>
